@model IEnumerable<FshopASP.Models.Account>

@{
    ViewBag.title = "Hồ sơ";
    Layout = "_LayoutTemplate";

}
@section Top{
    <partial name="_header" />
}
@section Bottom {
    <partial name="_footer" />

}
@section CSS{
    body {
    background: #dc3545
    }

    .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
    }

    .profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none
    }

    .profile-button:hover {
    background: #682773
    }

    .profile-button:focus {
    background: #682773;
    box-shadow: none
    }

    .profile-button:active {
    background: #682773;
    box-shadow: none
    }

    .back:hover {
    color: #682773;
    cursor: pointer
    }

    .labels {
    font-size: 11px
    }

    .add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
    }
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p> @ViewBag.Username</p>
                    <h1>Hồ sơ cá nhân</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="height:100%">
    @if (ViewBag.Username != null)
    {
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">Thông tin cá nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Đơn hàng của tôi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Chi tiết đơn hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @if (ViewBag.info == -1)
        {
            foreach (var item in Model)
            {
                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <img class="rounded-circle mt-5" src="~/assets/img/avaters/@item.Image" width="90">
                                <span class="font-weight-bold">@item.FullName</span>
                                <span class="text-black-50">@item.Email</span>
                                <span>Việt Nam</span>
                            </div>
                        </div>
                        <div class="col-md-5 border-right">
                            <div class="p-3 py-5">

                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label class="labels">Họ tên</label>
                                        <input type="text" class="form-control" placeholder="first name" value="@item.FullName">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="labels">Tên hiển thị</label>
                                        <input type="text" class="form-control" value="@item.Username" placeholder="Doe">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label class="labels">Địa chỉ</label>
                                        <input type="text" class="form-control" placeholder="Địa chỉ" value="@item.Address">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="labels">Số điện thoại</label>
                                        <input type="text" class="form-control" placeholder="Só phone" value="@item.Phone">
                                    </div>                                 
                                </div>
                             
                                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div>
                                <div class="d-flex flex-row mt-3 exp-container">
                                    <img src="https://i.imgur.com/azSfBM3.png" width="45" height="45">
                                    <div class="work-experience ml-1"><span class="font-weight-bold d-block">Senior UI/UX Designer</span><span class="d-block text-black-50 labels">Twitter Inc.</span><span class="d-block text-black-50 labels">March,2017 - May 2020</span></div>
                                </div>
                                <hr>
                                <div class="d-flex flex-row mt-3 exp-container">
                                    <img src="https://img.icons8.com/color/100/000000/facebook.png" width="45" height="45">
                                    <div class="work-experience ml-1"><span class="font-weight-bold d-block">Senior UI/UX Designer</span><span class="d-block text-black-50 labels">Facebook Inc.</span><span class="d-block text-black-50 labels">March,2017 - May 2020</span></div>
                                </div>
                                <hr>
                                <div class="d-flex flex-row mt-3 exp-container">
                                    <img src="https://img.icons8.com/color/50/000000/google-logo.png" width="45" height="45">
                                    <div class="work-experience ml-1"><span class="font-weight-bold d-block">UI/UX Designer</span><span class="d-block text-black-50 labels">Google Inc.</span><span class="d-block text-black-50 labels">March,2017 - May 2020</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    }
    else
    {
        <div style="height:40%">
        </div>
        <h1>Bạn chưa đăng nhập</h1>
    }
</div>